header {
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

.buttons {
  display: grid;
  grid-gap: 1em;
  grid-auto-flow: column;
}

.buttons button {
  border: 1px solid grey;
  background: #f1f1f1;
  padding: 1em;
}

.test-modal {
  width: 50%;
  height: 50%;
  position: relative;
  overflow-y: auto;
}

.test-modal--native {
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
  background: white;
}

.test-modal-content {
  position: absolute;
  width: 70%;
  padding: 1em;
}

label {
  display: block;
}

.inputs {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1em;
}

.editor {
  border: 1px solid black;
  padding: 0.5em;
}

.close-button {
  border: none;
  padding: 0.5em 1em;
  font-size: 1.2rem;
}

:focus {
  outline: 4px solid rgb(0, 191, 255);
}

#modal-root {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}