header {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

.buttons {
  display: grid;
  grid-gap: 1em;
  grid-auto-flow: column;
}

.buttons button {
  border: 1px solid grey;
  background: #f1f1f1;
  padding: 1em;
}

.test-modal {
  width: 50%;
  height: 50%;
  position: relative;
  overflow-y: auto;
}

.test-modal-content {
  position: absolute;
  width: 90%;
  padding: 1em;
}

label {
  display: block;
}

input {
  margin: 0;
  display: block;
  width: 100%;
  padding: 0.5em;
}

.editor {
  border: 1px solid black;
  padding: 0.5em;
}